{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [{'lager', {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
        {'cowboy', {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}}]}.

{shell, [{apps, [webapp_demo]}]}.

{relx, [{release, {webapp_demo, "0.1.0"},
         [webapp_demo]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
